<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" id="check_all"></th>
        <th>名称</th>
        <th>所属培训项目</th>
        <th>计划类型</th>
        <th>人数</th>
        <th>计划时间</th>
        <th>时长</th>
        <th>状态</th>
        <th>统计</th>
        <th>操作配置</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @for(list in page_info.list){
    <tr>
        <td><input type="checkbox" class="i-checks" name="input[]" value="${list.trainId}"></td>
        <td>${list.trainName}</td>
        <td>${list.examName}</td>
        <td>
            @if(list.trainType==1){
            考试
            @}else if(list.trainType==0){
            训练
            @}else{
            竞赛
            @}
        </td>
        <td>${list.studentCount}</td>
        <td>${list.trainBeginTime,"yyyy-MM-dd"}</td>
        <td>${list.trainMinites} 分钟</td>
        <td>
            <input type="checkbox" name="my-checkbox" @if(list.trainStatus){
                   checked
                   @}
                   train-id="${list.trainId}" data-size="mini">
        </td>
        <td>
            @if(list.submitScoreCount>0){
                @if(list.trainType==1){
                    <a href="${ctxPath}/census/index.html?trainId=${list.trainId}"><i class="fa fa-bar-chart-o"></i></a>
                @}else if(list.trainType==0){
                    <a href="${ctxPath}/census/train.html?trainId=${list.trainId}"><i class="fa fa-bar-chart-o"></i></a>
                @}
            @}else{
            <i class="fa fa-bar-chart-o"></i>
            @}
        </td>

        <td><a href="${ctxPath}/train/train_setting.html?trainId=${list.trainId}"><i class="fa fa-cogs"></i> </a> </td>
        <td>
            <a href="${ctxPath}/train/user_add.html?trainId=${list.trainId}"><i class="fa fa-user-plus"></i></a>
            &nbsp;&nbsp;
            <a href="${ctxPath}/train/edit.html?trainId=${list.trainId}"><i class="glyphicon glyphicon-pencil"></i></a>

        </td>
    </tr>
    @}
    </tbody>
</table>
<div class="col-sm-8 pull-right text-right">${pages}</div>
<script src="/js/plugins/bootstrap-switch/bootstrap-switch.js"></script>
<script>

    $("[name='my-checkbox']").bootstrapSwitch({
        onText:"激活",
        offText:"关闭",
        onColor:"success",
        offColor:"danger",
        onSwitchChange:function(event,state){
            var trainId = $(this).attr("train-id");
            $.ajax({
                type : "POST",
                url:"${ctxPath}/train/changeStatus",
                data : {
                    trainId: trainId,
                    trainStatus: state==true ? 1:0
                }
            });

        }
    });
    $(".pagination  a").click(function(){
        var page = ($this).data('p');
        ajax_get_table('search-form',page);
    });

    $("#check_all").click(function () {
        if($('#check_all').is(':checked')) {
            $(".i-checks").prop("checked", "checked");
            // $(".i-checks").
        }else {
            $(".i-checks").removeAttr("checked");
        }
    });

    $(".i-checks").click(function () {
        if($("input[class='i-checks']:checked").length<10){
            $("#check_all").prop("checked", false);
        }else {
            $("#check_all").prop("checked", true);
        }
    });
</script>