<!DOCTYPE html>
<html>
@layout("/layout/_list_layout.html"){
<link href="/css/plugins/layer/laydate.css" rel="stylesheet" type="text/css">
    <body class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="">
                <form id="search-form">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-2 pull-left">
                                <div class="input-group">
                                    <input type="text" name="userTrueName" id="user_true_name" placeholder="学员姓名" class="input-sm form-control">
                                </div>
                            </div>

                            <div class="col-lg-2 pull-left">
                                <div class="input-group">
                                    <select name="examId" id="exam_id" class="input-sm form-control" style="font-size: 12px;">
                                        <option value="">所属项目</option>
                                        @for(exam in exams){
                                        <option value="${exam.examId}">${exam.examName}</option>
                                        @}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 pull-left">
                                <div class="input-group">
                                    <select name="userSex" id="user_sex" class="input-sm form-control" style="font-size: 12px;">
                                        <option value="">性别</option>
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>


                            <a onclick="ajax_get_table('search-form',1)" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 搜索</a>


                            <div class="col-lg-2 pull-right text-right">

                                <span id="batch_del" class="btn btn-sm btn-primary"><i class="fa fa-trash-o"></i></span>

                            </div>
                        </div>
                        <div class="table-responsive" id="ajax_return">

                        </div>

                    </div>
                </form>
                </div>
            </div>
        </div>
@}
</body>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script type="text/javascript">
    var cur_page=1;
    $(document).ready(function(){
        ajax_get_table('search-form',1);
    });

    laydate.render({
        elem: '#exam_time'
        ,range: true
    });

    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"${ctxPath}/student/ajax_index?pageNum="+page+"&pageSize="+${page_size},//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
    }

    $("#batch_del").click(function () {
        var num = $("input[class='i-checks']:checked").length;
        if(num==0){
            swal({type: "warning", title: "", text: "请正确选择要删除的项目。"})
        }else {
            swal({
                title: "您确定要删除这 "+num+" 条信息吗",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function () {
                var delIds = "";
                $("input[class='i-checks']:checked").each(function(i){
                    if(0==i){
                        delIds = $(this).val();
                    }else{
                        delIds += (","+$(this).val());
                    }
                });

                $.ajax({
                    type : "POST",
                    url:"${ctxPath}/exam/student_batch_del",//+tab,
                    data : {
                        ids: delIds
                    },
                    success: function(data){
                        if(data['status']==1){
                            swal("成功删除"+data['body']+"条数据", "", "success")
                            // setTimeout('window.location.href="/user/index.html"',900);
                            ajax_get_table('search-form',cur_page);
                        }else{
                            swal({type: "warning", title: "", text: data['body']})
                        }
                    }
                });
            })
        }
    });
</script>
</html>