<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" id="check_all"></th>
        <th>项目名称</th>
        <th>培训对象</th>
        <th>人数</th>
        <th>开始日期</th>
        <th>状态</th>
        <th>合格率</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @for(list in page_info.list){
    <tr>
        <td><input type="checkbox" class="i-checks" name="input[]" value="${list.examId}"></td>
        <td>${list.examName}</td>
        <td>${list.examKind}</td>
        <td></td>
        <td>${list.examTime,"yyyy-MM-dd"}</td>
        <td><input type="checkbox" name="my-checkbox" @if(list.examStatus){
                   checked
                   @}
                   m-id="${list.examId}" data-size="mini"></td>
        <td></td>

        <td>
            @if(so.hasPermission('EXAM_ADD_USER')){
            <a href="${ctxPath}/exam/user_add.html?examId=${list.examId}"><i class="fa fa-user-plus"></i></a>
            @}
            &nbsp;
            @if(so.hasPermission('EXAM_EDIT')){
            <a href="${ctxPath}/exam/edit.html?examId=${list.examId}"><i class="glyphicon glyphicon-pencil"></i></a>
            @}

        </td>
    </tr>
    @}
    </tbody>
</table>
<div class="col-sm-8 pull-right text-right">${pages}</div>
<script src="/js/plugins/bootstrap-switch/bootstrap-switch.js"></script>
<script>

    $("[name='my-checkbox']").bootstrapSwitch({
        onText:"开启",
        offText:"关闭",
        onColor:"success",
        offColor:"danger",
        onSwitchChange:function(event,state){
            var mId = $(this).attr("m-id");
            $.ajax({
                type : "POST",
                url:"${ctxPath}/exam/changeStatus",
                data : {
                    examId: mId,
                    examStatus: state==true ? 1:0
                }
            });

        }
    });
    $(".pagination  a").click(function(){
        var page = ($this).data('p');
        ajax_get_table('search-form',page);
    });

    $("#check_all").click(function () {
        if($('#check_all').is(':checked')) {
            $(".i-checks").prop("checked", "checked");
            // $(".i-checks").
        }else {
            $(".i-checks").removeAttr("checked");
        }
    });

    $(".i-checks").click(function () {
        if($("input[class='i-checks']:checked").length<10){
            $("#check_all").prop("checked", false);
        }else {
            $("#check_all").prop("checked", true);
        }
    });
</script>