<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.CommonMapper">
  <select id="checkUnique" resultType="int" parameterType="java.util.HashMap">
    select count(1) from ${table}
    <where>
      <foreach collection="fieldArray" item="v" separator="and">
        ${v}
      </foreach>
      and status != 0
    </where>
  </select>
</mapper>