<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.FolderMapper">
    <resultMap id="BaseResultMap" type="com.bolean.entity.Folder">
        <id column="folder_id" jdbcType="INTEGER" property="folderId"/>
        <result column="folder_name" jdbcType="VARCHAR" property="folderName"/>
        <result column="key_name" jdbcType="VARCHAR" property="keyName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="ico_str" jdbcType="INTEGER" property="icoStr"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="folder_type" jdbcType="BIT" property="folderType"/>
        <result column="if_checked" jdbcType="BIT" property="ifChecked"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="update_id" jdbcType="INTEGER" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>

    <sql id="Base_Column_List">
    folder_id, folder_name, key_name, parent_id, sort, status, url, ico_str, folder_type, create_time, update_time,
    create_id, create_name, update_id, update_name, memo
  </sql>

    <sql id="where">
        <where>
            <if test="folderId !=null and folderId != ''">
                AND folder_id = #{folderId,jdbcType=BIGINT}
            </if>
            <if test="keyName != null and keyName != ''">
                AND key_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="folderName != null and folderName !=''">
                AND folder_name = #{folderName,jdbcType=VARCHAR} OR folder_name LIKE
                CONCAT('%',#{folderName,jdbcType=VARCHAR},'%' )
            </if>
            <if test="parentId != null and parentId !=null">
                AND parent_id = #{parentId,jdbcType=BIGINT}
            </if>
            <if test="sort != null and sort !=null">
                AND sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status,jdbcType=BIT}
            </if>
            <if test="folderType != null and folderType != ''">
                AND folder_type = #{folderType,jdbcType=BIT}
            </if>
            <if test="url != null and url != ''">
                AND url = #{url,jdbcType=VARCHAR}
            </if>

            <!--AND status != 0-->
        </where>
    </sql>

    <select id="selectByInfo" resultMap="BaseResultMap" parameterType="java.lang.Object">
        select
        <include refid="Base_Column_List"/>
        from cpr_folder
        <include refid="where"/>
    </select>

    <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List" />
        FROM cpr_folder
        WHERE parent_id = #{parentId,jdbcType=BIGINT}
        AND status != 0
    </select>

    <select id="selectByRoleFolders" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT
	f1.folder_id,
	f1.folder_name,
	f1.key_name,
	f1.parent_id,
	f1.sort,
	f1. STATUS,
	f1.url,
	f1.ico_str,
	f1.folder_type,
	f1.create_time,
	f1.update_time,
	f1.create_id,
	f1.create_name,
	f1.update_id,
	f1.update_name,
	f1.memo,
	(
		CASE
		WHEN (
			f2.folder_id = 0
			OR f2.folder_id IS NULL
		) THEN
			'0'
		ELSE
			'1'
		END
	) "if_checked"
FROM
	cpr_folder f1
LEFT JOIN (
	SELECT
		ff.folder_id
	FROM
		cpr_folder ff
	WHERE
		folder_id IN
    <foreach collection="roleFolders" item="item" index="index" open="(" separator="," close=")">
        #{item.folderId}
    </foreach>
) f2 ON f1.folder_id = f2.folder_id
WHERE f1.parent_id = #{parentId,jdbcType=BIGINT}
AND f1.status != 0;
    </select>
</mapper>