<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.bolean.entity.Student">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_true_name" jdbcType="VARCHAR" property="userTrueName" />
    <result column="user_sex" jdbcType="BIT" property="userSex" />
    <result column="user_degree" jdbcType="VARCHAR" property="userDegree" />
    <result column="user_card_no" jdbcType="VARCHAR" property="userCardNo" />
    <result column="user_company" jdbcType="VARCHAR" property="userCompany" />
    <result column="user_home_address" jdbcType="VARCHAR" property="userHomeAddress" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="exam_id" jdbcType="INTEGER" property="examId" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, user_true_name, user_sex, user_degree, user_card_no, user_company, user_home_address,
    user_email, user_phone, exam_id
  </sql>

  <sql id="where">
    <where>
      <if test="userId !=null and userId != ''">
        AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="userTrueName != null and userTrueName !=''">
        AND user_true_name = #{userTrueName,jdbcType=VARCHAR}  OR user_true_name LIKE CONCAT('%',#{userTrueName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="userSex != null and userSex !=null">
        AND user_sex = #{userSex,jdbcType=BIT}
      </if>
      <if test="userDegree != null and userDegree != ''">
        AND user_degree = #{userDegree,jdbcType=VARCHAR}
      </if>
      <if test="userCardNo != null and userCardNo != ''">
        AND user_card_no = #{userCardNo,jdbcType=VARCHAR}
      </if>
      <if test="userCompany != null and userCompany != ''">
        AND user_company = #{userCompany,jdbcType=VARCHAR}
      </if>
      <if test="userHomeAddress != null and userHomeAddress != ''">
        AND user_home_address = #{userHomeAddress,jdbcType=VARCHAR}
      </if>
      <if test="userEmail != null and userEmail != ''">
        AND user_email = #{userHomeAddress,jdbcType=VARCHAR}
      </if>
      <if test="userPhone != null and userPhone != ''">
        AND user_phone = #{userPhone,jdbcType=VARCHAR}
      </if>

      <if test="examId != null and examId != ''">
        AND exam_id = #{examId,jdbcType=INTEGER}
      </if>
    </where>
  </sql>

  <select id="selectByInfo" resultMap="BaseResultMap" parameterType="java.lang.Object">
      SELECT
        <include refid="Base_Column_List"/>
      from cpr_student
        <include refid="where"/>
  </select>

  <delete id="batchDel" parameterType="Map">
    DELETE FROM cpr_student WHERE user_id IN (${ids});
  </delete>
</mapper>