<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.bolean.entity.SysDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_key" jdbcType="VARCHAR" property="dictKey" />
  </resultMap>

  <sql id="Base_Column_List">
    id, content, dict_name, dict_key
  </sql>

  <select id="selectByDictName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
      FROM cpr_sys_dict
      WHERE dict_name = #{_parameter,jdbcType=VARCHAR}
  </select>
</mapper>