<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.TrainStudentMapper">

    <delete id="deleteByTrainId" parameterType="java.lang.String">
      DELETE FROM cpr_train_student WHERE train_id = #{_parameter,jdbcType=VARCHAR}
    </delete>

</mapper>