<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<div class="row">
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="viladate_form">
                    <div class="form-group">
                        <label for="user_name" class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input id="user_name" placeholder="请输入用户名 例：zhangsan" value="${iuser.userName}" name="userName" class="form-control" type="text" required>
                            <span class="m-t3 help-block m-b-none"><i class="fa fa-info-circle"></i> 用户名由字母、数字与"_" 组成,总长度5位以上</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-8">
                            <input id="password" name="password" placeholder="请输入长度5位以上的密码" class="form-control" type="password">
                            <input id="repeat_peassword" style="margin-top: 5px;" placeholder="请确认密码" name="repeatPassword" class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="real_name" class="col-sm-3 control-label">真实姓名：</label>
                        <div class="col-sm-8">
                            <input id="real_name" name="realName" value="${iuser.realName}" placeholder="请输入真实姓名" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sex" class="col-sm-3 control-label">性别：</label>
                        <div class="col-sm-8">
                            <div class="i-checks" id="sex">
                                <label><input type="radio" @if(iuser.sex==2){
                                              checked @}
                                              value="2" name="sex"> <i></i> 女</label>

                                <label><input type="radio" @if(iuser.sex==1){
                                              checked @}
                                              value="1" name="sex"> <i></i> 男</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user_tel" class="col-sm-3 control-label">联系电话：</label>
                        <div class="col-sm-8">
                                <input id="user_tel" value="${iuser.userTel}" name="userTel" placeholder="请输入用户联系电话" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role_id" class="col-sm-3 control-label">角色：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="role_id" name="roleId">
                                <option value="">请选择</option>
                                @for(role in roles){
                                <option @if(role.roleId == iuser.roleId){
                                       selected @}
                                    value="${role.roleId}">${role.roleName}</option>
                                @}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="memo" class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="memo" rows="5" name="memo">${iuser.memo}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <div class="btn btn-white" onclick="window.history.go(-1)">取消</div>
                            <input type="hidden" value="${iuser.userId}" id="user_id" name="userId">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@}
</body>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        }, errorElement: "span", errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        // $("#commentForm").validate();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#viladate_form").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 5,
                    checkUserName: true,
                    remote: {
                        url: "${ctxPath}/checkUnique",
                        data:{
                            user_name:function(){
                                return $("#user_name").val();
                            },
                            table:function(){
                                return "cpr_user";
                            },
                            id:function () {
                                return "user_id !="+$("#user_id").val();
                            }
                        }
                    }
                },
                password: {
                    minlength: 5
                },
                repeatPassword: {
                    minlength: 5,
                    equalTo: "#password"
                },
                realName: {
                    required: true
                }
            },
            messages: {
                userName: {
                    required: e + "请输入您的用户名",
                    minlength: e + "用户名必须5个字符以上",
                    remote: e+ "该用户名已存在"
                },
                password: {
                    minlength: e + "密码最小长度为5",
                },
                repeatPassword: {
                    minlength: e + "密码必须5个字符以上",
                    equalTo: e + "两次输入的密码不一致"
                },
                realName: e + "请输入用户姓名",
            },
            submitHandler: function() {
                $.ajax({
                    type : "POST",
                    url:"${ctxPath}/user/edit_user",//+tab,
                    data : $('#viladate_form').serialize(),// 你的formid
                    success: function(data){
                        if(data['status']==1){
                            toastr.success(data['body']);
                            setTimeout('window.location.href="/user/index.html"',900);
                        }else{
                            toastr.success(data['body']);
                        }
                    }
                });
            }
        }),$('input[required]').parent().prev().append(
            '<span style="color:red">*</span>'
        );

        //用户名验证
        $.validator.addMethod("checkUserName",function(value,element,params){
            var checkName = /^\w{2,10}$/g;
            return this.optional(element)||(checkName.test(value));
        },"只允许英文字母、数字或者下画线！");
    });

</script>
</html>