<!DOCTYPE html>
<html>
@layout("/layout/_list_layout.html"){
    <body class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="">
                <form id="search-form">
                    <div class="ibox-content">
                        <div class="table-responsive" id="ajax_return">
                            <div class="ibox float-e-margins">
                                <div class="col-sm-12" id="pass_bar" style="height: 600px;"></div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
@}

</body>

<script src="/js/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        creat_pass_bar();
    });

    function creatPassBar(data) {
        var passBar = document.getElementById("pass_bar");
        var passChart = echarts.init(passBar);
        passChart.setOption({
            color: [ '#4cabce','#e5323e',],
            legend: {},
            tooltip: {},
            dataset: {
                source: data
            },
            xAxis: {
                type: 'category',
                max: 5
            },
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.

            series: [
                {
                    type:'bar',
                    barWidth:30

                },
                {
                    type:'bar',
                    barWidth:30
                }
            ]
        });
    }


    function creat_pass_bar(){
        var train_id = $("#train_id").val();
        $.ajax({
            type : "POST",
            url:"${ctxPath}/census/train?trainId=${trainId}",//+tab,
            dataType : "JSON",
            success: function(data){
                if(data){
                    creatPassBar(data);

                }
            }
        });
    }

</script>
</html>