<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<div class="row">
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="menu_form">
                    <div class="form-group">
                        <label for="folder_name" class="col-sm-3 control-label">菜单名称：</label>
                        <div class="col-sm-8">
                            <input id="folder_name" name="folderName" class="form-control" value="${menu.folderName}" type="text" required>
                            <!--<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 这里写点提示的内容</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="key_name" class="col-sm-3 control-label">KEY_NAME：</label>
                        <div class="col-sm-8">
                            <input id="key_name" name="keyName" class="form-control" value="${menu.keyName}" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">URL：</label>
                        <div class="col-sm-8">
                            <input id="url" name="url" class="form-control" value="${menu.url}" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">类型：</label>
                        <div class="col-sm-8">
                            <div class="i-checks">
                                <label>
                                    <input type="radio" @if(menu.folderType==1){
                                           checked @}
                                           value="1" name="folderType"> <i></i> 菜单</label>

                                <label>
                                    <input type="radio" @if(menu.folderType==2){
                                           checked @}
                                           value="2" name="folderType"> <i></i> 子权限(如：删除、编辑)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ico_str" class="col-sm-3 control-label">显示小图标：</label>
                        <div class="col-sm-8">
                            <input id="ico_str" name="icoStr" class="form-control" value="${menu.icoStr}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parent_id" class="col-sm-3 control-label">父级菜单：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="parent_id" name="parentId">
                                <option value="">请选择</option>
                                @for(top_menu in top_menus){
                                <option @if(top_menu.folderId==menu.parentId){
                                    selected @}
                                value="${top_menu.folderId}">${top_menu.folderName}</option>
                                @}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <input type="hidden" name="folderId" value="${menu.folderId}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
@}
</body>
<script type="text/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        }, errorElement: "span", errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        // $("#commentForm").validate();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#menu_form").validate({
            rules: {
                folderName: "required",
                keyName: "required"
            },
            messages: {
                folderName: e + "请输入菜单名称",
                keyName: e + "请输key_name"
            }
        }),$('input[required]').parent().prev().append(
            '<span style="color:red">*</span>'
        ), $("form").submit(function () {
            if($(".has-error").length==0){

                $.ajax({
                    type : "POST",
                    url:"${ctxPath}/menu/eidt_menu",//+tab,
                    data : $('#menu_form').serialize(),// 你的formid
                    success: function(data){
                        if(data['status']==1){
                            toastr.success(data['body']);
                            setTimeout('window.location.href="/menu/index.html"',900);
                        }else{
                            toastr.success(data['body']);
                            setTimeout('window.location.href="/menu/index.html"',900);
                        }
                    }
                });
                return false;
            }
        });
        // console.log($('input[required]').parent().prev().before('<span style="color:red">*</span>'))
    });
</script>
</html>